.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* overflow-x: auto; */
}

.home__animation {
  width: 100vw;
  height: 80vh;
  background-color: turquoise;
  position: absolute;
  top: 0;
  left: 0;
}

.home__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  float: none;
  z-index: 9;
  margin-top: 130px;
}

.home__text > h2 {
  font-size: 55px;
  margin-bottom: 5px;
  line-height: 90px;
  color: #fff;
  background-color: transparent;
}

.home__text > p {
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
}

.home__btn__port {
  width: 200px;
  height: 50px;
  /* margin-left: 5px; */
  background-color: #121127 !important;
  color: #fff !important;
  margin-right: 20px !important;
}

.home__btn__contact {
  width: 200px;
  height: 50px;
  background-color: #fe3e57 !important;
  color: #fff !important;
  /* margin-right: 5px; */
}

.home__btn__port:hover {
  opacity: 0.9;
}

.home__btn__contact:hover {
  opacity: 0.9;
}

.home__section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  top: 130px !important;
  /* margin-top: 10%; */
  background-color: rgb(223, 213, 213);
  /* #121127 */
  height: 150px;
  width: 100vw;
}

.home__section__image {
  flex: 0.5;
  height: 160px;
  background-color: white;
}

.home__section__text {
  flex: 0.5;
  height: 160px;
  background-color: #151349;
}

@media screen and (max-width: 600px) {
  .home__animation {
    width: 100vw;
    height: 70vh;
    background-color: turquoise;
    /* #151435 */
  }

  .home__text > h2 {
    font-size: 40px;
    line-height: 70px;
  }
  .home__btn__port {
    width: 150px;
    height: 45px;
    background-color: #121127 !important;
    margin-right: 15px !important;
  }

  .home__btn__contact {
    width: 150px;
    height: 45px;
    background-color: #fe3e57 !important;
  }

  .home__text > p {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 430px) {
  .home__animation {
    width: 100vw;
    height: 100vh;
    background-color: turquoise;
    /* #151435 */
  }

  .home__text {
    margin-top: 180px;
  }

  .home__text > h2 {
    font-size: 35px;
    line-height: 60px;
  }
  .home__btn__port {
    width: 120px;
    height: 45px;
    background-color: #121127 !important;
    margin-right: 15px !important;
  }

  .home__btn__contact {
    width: 120px;
    height: 45px;
    background-color: #fe3e57 !important;
  }

  .home__text > p {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 430px) {
  .home__text {
    margin-top: 180px;
  }
}

@media screen and (max-width: 380px) {
  .home__text {
    margin-top: 160px;
  }
}

@media screen and (max-width: 330px) {
  .home__text {
    margin-top: 100px;
  }
}

/* For Section */

/* @media screen and (max-width: 430px) {
  .home__section {
    margin-top: 320px !important;
  }
}

@media screen and (max-width: 600px) {
  .home__section {
    margin-top: 220px !important;
  }
}

@media screen and (max-width: 990px) {
  .home__section {
    margin-top: 180px;
  }
} */
