.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* overflow-x: auto; */
  background-color: #201e43;
}

.home__animation {
  width: 100vw;
  height: 80vh;
  background-color: turquoise;
  position: absolute;
  top: 0;
  left: 0;
}

.home__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  float: none;
  z-index: 9;
  margin-top: 130px;
}

.home__text > h2 {
  font-size: 55px;
  margin-bottom: 5px;
  line-height: 90px;
  color: #fff;
  background-color: transparent;
}

.home__text > p {
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
}

.home__btn__port {
  width: 200px;
  height: 50px;
  /* margin-left: 5px; */
  background-color: #121127 !important;
  color: #fff !important;
  margin-right: 20px !important;
}

.home__btn__contact {
  width: 200px;
  height: 50px;
  background-color: #fe3e57 !important;
  color: #fff !important;
  /* margin-right: 5px; */
}

.home__btn__about {
  width: 200px;
  height: 50px;
  background-color: #fe3e57 !important;
  color: #fff !important;
}

.home__btn__port:hover {
  opacity: 0.9;
}

.home__btn__contact:hover {
  opacity: 0.9;
}

.home__btn__about:hover {
  opacity: 0.9;
}

.home__section {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  top: 130px !important;
  background-color: #201e43;
  height: 50%;
  height: 100%;
  width: 100vw;
}

.home__section__image {
  flex: 0.5;
  text-align: center;
  background-color: #201e43;
}

.home__img {
  height: 500px;
  box-shadow: 0 16px 9.8px 20.2px rgb(18 17 39 / 100%);
}

.home__section__text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  flex: 0.5;
  background-color: #201e43;
  margin-right: 70px;
}

.home__section__text h2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* width: 500px; */
  /* flex-direction: column; */
  font-size: 40px;
  color: #fff;
}

.home__section__text p {
  color: #fff;
  margin-bottom: 50px;
  width: 600px;
}

@media screen and (max-width: 600px) {
  .home__animation {
    width: 100vw;
    height: 70vh;
    background-color: turquoise;
    /* #151435 */
  }

  .home__text > h2 {
    font-size: 40px;
    line-height: 70px;
  }
  .home__btn__port {
    width: 150px;
    height: 45px;
    background-color: #121127 !important;
    margin-right: 15px !important;
  }

  .home__btn__contact {
    width: 150px;
    height: 45px;
    background-color: #fe3e57 !important;
  }

  .home__btn__about {
    width: 150px;
    height: 45px;
    background-color: #fe3e57 !important;
  }

  .home__text > p {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 430px) {
  .home__animation {
    width: 100vw;
    height: 100vh;
    background-color: turquoise;
    /* #151435 */
  }

  .home__text {
    margin-top: 180px;
  }

  .home__text > h2 {
    font-size: 35px;
    line-height: 60px;
  }
  .home__btn__port {
    width: 120px;
    height: 45px;
    background-color: #121127 !important;
    margin-right: 15px !important;
  }

  .home__btn__contact {
    width: 120px;
    height: 45px;
    background-color: #fe3e57 !important;
  }

  .home__btn__about {
    width: 120px;
    height: 45px;
    background-color: #fe3e57 !important;
  }

  .home__text > p {
    margin-bottom: 20px;
  }

  /* ggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg */

  .home__section__text {
    display: block;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    /* flex: 0.5; */
    background-color: #201e43;
    margin-right: 0px;
  }

  .home__img {
    width: 100vw;
    height: 400px;
    box-shadow: 0 0px 0px px rgb(18 17 39 / 100%);
  }

  .home__section__text p {
    color: #fff;
    margin-bottom: 50px;
    width: 100vw;
  }
}

@media screen and (max-width: 430px) {
  .home__text {
    margin-top: 180px;
  }
}

@media screen and (max-width: 380px) {
  .home__text {
    margin-top: 160px;
  }
}

@media screen and (max-width: 330px) {
  .home__text {
    margin-top: 100px;
  }
}

/* For Section */

@media screen and (max-width: 990px) {
  .home__section {
    display: block;
  }
}

/*  
@media screen and (max-width: 600px) {
  .home__section {
    margin-top: 220px !important;
  }
}

@media screen and (max-width: 990px) {
  .home__section {
    margin-top: 180px;
  }
} */
