.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #121127;
  height: 600px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 70px;
}

/* Footer Left */
.footer__container__item__left {
  display: flex;
  flex: 1;
  /* justify-content: center; */
  align-items: flex-start;
  flex-direction: column;
  margin-left: 150px;
}

.footer__container__item__left h2 {
  color: #fff;
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 600;
}

.footer__container__item__left p {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* flex: 1; */
  margin-left: 20px;
  color: rgba(255, 255, 255, 0.7);
}

/* Footer Middle */
.footer__container__item__middle {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 150px;
}

.footer__container__item__middle h2 {
  color: #fff;
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 600;
}

.footer__container__item__middle p {
  display: flex;
  flex: 1;
  /* justify-content: flex-start; */
  color: rgba(255, 255, 255, 0.7);
}

/* Footer Right */
.footer__container__item__right {
  display: flex;
  flex: 1;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 150px;
}

.footer__container__item__right h2 {
  color: #fff;
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 600;
}

.footer__container__item__right p {
  display: flex;
  flex: 1;
  /* justify-content: flex-start; */
  color: rgba(255, 255, 255, 0.7);
}

.footer__icon {
  font-size: 1.6rem !important;
}

.footer__social__icons {
  display: flex;
  flex-direction: column;
}

.margin {
  margin-right: 20px;
}

.footer__copyright {
  margin-top: 60px;
}

.footer__copyright p {
  color: rgba(255, 255, 255, 0.7);
}

.footer__about__btn {
  width: 130px;
  height: 40px;
  background-color: #fe3e57 !important;
  color: #fff !important;
  /* margin-bottom: 10px; */
}

@media screen and (max-width: 1000px) {
  /* .footer__container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 70px;
  } */

  .footer__container__item__left {
    margin-left: 10px;
    /* background-color: red; */
  }

  .footer__container__item__left p {
    margin-left: 0px;
  }

  .footer__container__item__middle {
    margin-left: 90px;
  }
  .footer__container__item__right {
    margin-left: 00px;
  }
}

@media screen and (max-width: 710px) {
  .footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #121127;
    height: 1300px;
  }

  .footer__container {
    /* background-color: royalblue */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 70px;

    flex-direction: column;
  }

  .footer__container__item__left {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  .footer__container__item__left p {
    margin-right: 8px;
    margin-left: 8px;
  }

  .footer__container__item__middle {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }

  .footer__container__item__right {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    /* margin-left: 20px; */
  }
}
